<div id='events' class='group_events'>
  <h2>Events</h2>
  <% @events.inject(0) do |count, event| %>
    <% count +=1 %>
    <div>
      <h2><%= event.name %></h2>
      <p>Spaces left: <%= event.remaining_spaces %>
    </div>
    <div class='address'>
      <h3><%= event.location %></h3>
    </div>

  <% end %>
</div>
