<div class='row'>
<% events.each_with_index do |event,count| %>
    <% if count % 4 == 0 %>
    </div>
    <div class='row'>
   <% end %>
  <div class='event col-md-3'>
    <div class='summary'>
      <h3><%= link_to event.name, event %></h3>
      <h5><%= event.date.strftime("%m/%d/%Y at %I:%M%P")  %></h5>
    </div>
    <div class='event_description'>
    </div>
  </div>
<% end %>
</div>
