<% if object.cause_list.length > 0 %>
  <div class='causes'>
    Causes:<br/>
    <% object.cause_list.each do |cause| %>
    <span class="label label-cause" href="#"><%= cause %></span>
    <% end %>
  </div>
<% end %>