<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
  <html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <p>Hello <%= @user.firstname %>, </p>
    <p> Unfortunately, the <%= @event.name %> event, on <%= @event.date.strftime("%m/%d/%Y at %I:%M%P")  %> was cancelled. </p>
  </body>
  </html>