/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.all
 */

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

.navbar-form {
  vertical-align: middle !important;
}

.label.label-cause {
  background-color: #9B59B6;
  font-size: 1em;
}

.label-cause[href]:hover,
.label-cause[href]:focus {
  background-color: #8E44AD;
}

.event_wrapper {
  padding: 10px;
}

.event_summary {
  background:#ECF0F1;
  border-radius: 5px;
  padding: 10px 10px 20px 10px;
}

.sign_up_button {
  margin: 10px 10px 10px 0px;
}